@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #F1F1E8;
}

.container .form {
    margin-top: 30px;
}

/* Inputs */ 

.form :where(.input-box, .title) {
    width: 100%;
    margin-top: 15px;
}

.input-box label {
    color: black;
}

.form .input-box input {
    position: relative;
    height: 40px;
    width: 350px;
    color: #000000cc;
    margin-top: 5px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #F1F1E8;
}

/* Gender */ 

.form .gender-box {
    margin-top: 15px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.form .gender input {
    width: 25px;
    height: 30px;
}

/* Column1 */

.form .column1 {
    margin-top: 15px;
}

.form .column1-options {
    display: flex;
    column-gap: 15px;
}

.form .column1-options button {
    position: relative;
    height: 40px;
    width: 105px;
    color: #000000cc;
    margin-top: 5px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #F1F1E8;
    text-align: center;
    cursor: pointer; 
}

.form .column1-options button:hover {
    background-color: #AED07A;
}

/* Column2 */

.form .column2 {
    margin-top: 15px;
}

.form .column2-options button {
    position: relative;
    height: 40px;
    width: 350px;
    color: #000000cc;
    margin-top: 5px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #F1F1E8;
    text-align: left;
    cursor: pointer;
}

.form .column2-options button:hover {
    background-color: #AED07A;
}

.form .column2-options div {
    margin-bottom: 15px;
}

/* Calculate */

/* Responsive */

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}