@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F1F1E8;
}

/* Container */

.container {
    max-width: 500px;
    margin: 0 auto;
}

.container .form {
    margin-top: 60px;
}

/* Text-Boxes */

.form :where(.text-box, .title) {
    width: 100%;
    margin-top: 15px;
}

.text-box label {
    color: black;
}

.form .text-box input {
    position: relative;
    height: 40px;
    width: 350px;
    color: #000000cc;
    margin-top: 5px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #F1F1E8;
}

/* Gender */

.form .gender-box {
    margin-top: 15px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender input[type="radio"] {
    display: none;
}

.form .gender label {
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    cursor: pointer;
}

.form .gender label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #F1F1E8;
    transition: background-color 0.5s;
}

.form .gender input[type="radio"]:checked+label::before {
    background-color: #AED07A;
}

/* Activities performed */

.form .activities-performed {
    max-width: 350px;
    margin-top: 15px;
}

.form .activities-performed-items {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.form .activities-performed-items div {
    flex: 1 1 100px;
    max-width: 150px;
    box-sizing: border-box;
    flex-shrink: 0.5;
    margin-top: 5px;

}

.form .activities-performed-items div label {
    cursor: pointer;
}

.form .activities-performed-items div label {
    cursor: pointer;
    width: 100%;
}

.form .activities-performed-items div label input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: auto;
    width: 100%;
}

.form .activities-performed-items div label span {
    position: relative;
    display: inline-block;
    padding: 6px 20.5px;
    border: 1px solid #00000070;
    border-radius: 10px;
    background-color: #F1F1E8;
    transition: background-color 0.5s ease;
    width: 100%;
    text-align: center;
}

.form .activities-performed-items div label input[type="checkbox"]:checked~span {
    background-color: #AED07A;
    transition: background-color 0.5s ease;
}

/* Goal */

.form .goals {
    margin-top: 15px;
}

.form .goal {
    position: relative;
    height: 40px;
    width: 350px;
    color: #000000cc;
    margin-top: 5px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 0 10px;
    background-color: #F1F1E8;
    text-align: left;
    cursor: pointer;
    transition: opacity .3s ease;
}

/* Calculate */

.form .calculate {
    color: #F1F1E8;
    background-color: #334531;
    position: relative;
    height: 40px;
    width: 350px;
    margin-top: 20px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
}

/* Output box */

.form .output-box p {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    width: 350px;
    color: #000000cc;
    margin-top: 20px;
    border: 1px solid #00000070;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #F1F1E8;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

/* Final text */

.form .final-text {
    margin-top: 15px;
    width: 350px;
    height: 105px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.4);
}

/* License */

.license {
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
}

/* Responsive */

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}